    <div class="menu col-wrapper">
        <div class="menu-drawer">
            <h2>
                Menu
            </h2>
            <ul class="menu-list col-wrapper">
                <li>
                    <a class="menu-links" href="/catatan">Catatan Kebaktian</a>
                </li>
                <li>
                    <a class="menu-links" href="/catatan/create">Buat Catatan Kebaktian</a>
                </li>
                <li>
                    <a class="menu-links" href="/majelis">Majelis</a>
                </li>
                <li>
                    <a class="menu-links" href="/pelayan-firman">Pelayan Firman</a>
                </li>
            </ul>
            <div class="menu-footer">
                <p>
                    Catatan Kebaktian
                </p>
            </div>
        </div>
    </div>